@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hero {
  background-image: url(/herobg.png);
  background-repeat: no-repeat;
  object-fit: fill;
  width: 100vw;
  height: 60%;
  opacity: 1;
}

.hovered:hover .scale {
  transform: scale(1.2);
}

.bg-image {
  background-image: url(/heroBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.85;
}

.show-arrow:hover .hasArrow {
  display: block;
}

.bg-image-1 {
  background-image: url(/modern-beauty-salon-interior.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-image-1::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0.8;
}
