@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* CSS Styles (styles.css) */
.masonry-grid {
  display: flex;
  margin: auto;
  width: 80%;
}

.masonry-column {
  padding-left: 10px; /* Space between columns */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 0.8rem;
}

.image {
  width: 100%;
  border-radius: 1rem;
}
